// Navigation code here
// add .font-size-color parametricmixin
// add .flex-center mixin

.navigation {
  //   display: flex;
  //   justify-content: center;
  .flex-center();
  flex-direction: column;
  text-align: center;
  padding-bottom: 12px;
  background-color: @nav-bg;
  border-bottom: 2px solid @nav-border;

  h1 {
    font-size: 5rem;
    padding: 15px 0;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 30%;

    a {
      text-decoration: none;
      //   color: @shuttle-gray;
      //   font-size: 1.6rem;
      .font-size-color(1.6rem, @shuttle-gray);
    }
  }
}
